[Unit]
Description={{ springboot_application_name }}
After=syslog.target network.target

[Service]
WorkingDirectory={{ springboot_deploy_folder }}
User={{ springboot_user }}
ExecStart=/usr/bin/java \
  {% for k, v in springboot_jvm_params.items() %}-D{{ k }}={{ v }} {% endfor %} \
  -jar {{ springboot_deploy_folder }}/{{ springboot_application_jar }} \
  {{ springboot_extra_args }}
Environment=SPRING_CONFIG_LOCATION={{ springboot_deploy_folder }}/application.yml
{% for env in springboot_extra_envs %}
{% for k, v in env.items() %}
Environment={{ k }}={{ v }}
{% endfor %}
{% endfor %}
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
